.item {
  padding: 20px;

  :global {
    .rv-card-header {
      background-color: #f9f9f9;
      .rv-card-header__content {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
      }
    }
  }

  .money {
    >span {
      margin-left: 20px;
      font-size: 25px;

      img {
        width: 40px;
        vertical-align: sub;
      }
    }
  }

  .itemIcon {
    font-size: 20px;
  }
}